<div fxLayout="column" fxLayoutAlign="center center">

<h2> {{ excerciseType }}</h2> 

<br>

<mat-progress-spinner mode="determinate" [value]="progress" color="primary">

</mat-progress-spinner>

<h2> {{progress}} % </h2> 

<section fxLayout="row" fxLayoutGap="20px">
<!-- <button mat-raised-button color="accent" (click)="stopTraining()">Stop</button> 
<button mat-raised-button color="accent" (click)="backToTraining()">Back</button>  -->
<button mat-raised-button color="accent" (click)="openDialog()">Stop</button> 
</section>
</div>